body {
  margin: 0;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  image-rendering: pixelated;
  border: 2px solid #fff;
  background-color: #1a3a1a;
}
